body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #fae1dd;
}
.container{
    position: relative;
}
.valentines{
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}
.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}
.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: #f08080;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}
.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}
.front::before{
    position: absolute;
    content: '';
    border-left: 300px solid #fda996;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
}
.card{
    position: relative;
    width: 250px;
    height: 180px;
    background: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
}
.card::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #003049;
    border-style: dashed;
}
.valentines:hover .card{
    transform: translateY(-100px);
}
.card .text{
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    color: #003049;
}
.card .heart{
    position: relative;
    width: 35px;
    height: 35px;
    background: red;
    bottom: 20px;
    transform: rotate(45deg);
    border-radius: 50% 0 0 50%;
}
.card .heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 0 50% 50% 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top;
}
.card .heart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    right: -18px;
}
@keyframes up{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
.valentines::before{
    content: '';
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;
}
@keyframes scale{
    0%, 100%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(.85);
    }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
 }
 
 button.learn-more {
   position: absolute; /* Mengubah posisi relatif terhadap halaman */
   top: 20px;          /* Jarak dari atas */
   right: 20px;        /* Jarak dari kanan */
   font-weight: 600;
   color: #382b22;
   text-transform: uppercase;
   padding: 1.25em 2em;
   background: #fff0f0;
   border: 2px solid #b18597;
   border-radius: 0.75em;
   transform-style: preserve-3d;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 
 button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }